body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.blog-header {
  padding: 10px 4%;
  line-height: 50px;
  background-color: #262626;
  color: #a7aeb6;
  font-size: 16px;
  font-weight: bold;
}

.blog-menu {
  display: flex;
  justify-content: space-between;
}
