body,
html,
figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  color: #047bfe;
}

.blog-header {
  padding: 10px 4%;
  margin-bottom: 30px;
  line-height: 50px;
  background-color: #262626;
  color: #a7aeb6;
  font-size: 16px;
  font-weight: bold;
}

.blog-menu {
  display: flex;
  justify-content: space-between;
}

.blog-content {
  padding: 0 4%;
  display: flex;
  justify-content: space-between;
}

.blog-about h2,
.blog-archive h2 {
  font-style: italic;
}

.blog-about,
.blog-archive {
  padding: 20px;
  font-size: 14px;
}

.blog-about {
  background-color: #f8f9fa;
}

.blog-article {
  column-count: 2;
  column-gap: 30px;
  margin: 0 30px;
}

.blog-article figure {
  break-inside: avoid;
  margin: 0 0 20px 0;
  border: 1px solid #eaeaea;
  box-shadow: 1px 4px 7px #ebebeb;
}

.blog-article-photo {
  height: 230px;
  overflow: hidden;
}

.blog-article-image {
  width: 100%;
}

.blog-article-detail {
  padding: 20px;
}

.blog-article-detail a {
  text-decoration: none;
  color: #047bfe;
}

.blog-login {
  align-self: center;
  padding: 20px 25px;
  background-color: #f5f5f5;
}

.login-email,
.login-password,
.login-submit {
  display: block;
  border: 1px solid #e4e8eb;
  padding: 6px;
}

.login-check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  font-size: 13px;
}

.login-submit {
  width: 100%;
  color: #fff;
  font-size: 15px;
  background-color: #047bfe;
  border-radius: 4px;
}

.blog-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  border-top: 2px solid #eaeaea;
  height: 90px;
  background-color: #f9f9f9;
  color: #a6a6a6;
}

.blog-footer p {
  margin: 0;
  padding: 0;
}
