body,
html,
figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
}

.blog-header {
  padding: 10px 4%;
  margin-bottom: 20px;
  line-height: 50px;
  background-color: #262626;
  color: #a7aeb6;
  font-size: 16px;
  font-weight: bold;
}

.blog-menu {
  display: flex;
  justify-content: space-between;
}

.blog-content {
  padding: 0 4%;
  display: flex;
  justify-content: space-between;
}

.blog-article {
  column-count: 2;
  column-gap: 30px;
  margin: 0 30px;
}

.blog-article figure {
  break-inside: avoid;
  margin: 0;
}

.blog-article-photo {
  height: 230px;
  overflow: hidden;
}

.blog-article-image {
  width: 100%;
}
